html, body{
    padding: 0;
    margin: 0;
}

body {
    background-color: brown;
}

.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.factory {
    background-color: rgba(255 ,255 ,255 , 0.5);
    padding: 2em;
    margin: 2em;
    border-radius: 30px;
    border: 1px solid pink;
}

.main-game{
    text-align: center;
}

.main-game .click-zone {
    background: red;
    width: 500px;
    height: 500px;
    cursor: pointer;
}